#logo{
    float: left;
    width: 60px;
    height: 40px;
}
h{
   float: left;
}
body{
    background-image: url(imagenes/yellow_background.png);
}
.nav{
    list-style-type: none;
    margin-left: 330px;
}
.lista{
    display: inline-block;
    float: left;
    margin-right: 15px;
    font-family: "Fuente Titulo2";
    font-size: 15px;
    
}
header{
    height: 150px;
   
}
hr{
    background-image: url("imagenes/red_background.png");

}
@font-face{
    font-family: "Fuente Titulo";
    src: url("fuentes/ballpark.ttf");
}
h1{
    font-family: "Fuente Titulo";

}
@font-face{
    font-family: "Fuente Titulo2";
    src: url("fuentes/dayrom.ttf");
}
h2{
    font-family: "Fuente Titulo2";

}
footer{
    margin-left: 15px;
    display: inline-block;
    position: relative;

}
.Tweet{
    float: left;
}

.Fotografias{
    float: right;
    padding-left: 120px;
    float: left;
}
.Amigos{
    float: right;
    padding-left: 0px; 
}
.Izquierda{
    list-style-image: url("imagenes/external_link.png");
    float: left;
   
}
.Derecha{
    list-style-image: url("imagenes/external_link.png");
    float: right; 
}
section{
    margin-top: 20px; 
    width: 850px;
    float: left;
    height: 375px;;

}
aside{
    float: right;
    margin-top: 20px;
    color: white;
    background-image: url("Imagenes/FondoAside.jpg" );
    width: 210px;
    padding-left: 10px;
    margin-right: 170px;
}

#ImagenSection{
    float: left;
}
#flecha{
    margin-left: 490px;
}
#AmigosT{
    padding-left: 25px;
}