#logo{
    float: left;
    width: 60px;
    height: 40px;
}
h{
   float: left;
}
body{
    background-image: url(imagenes/yellow_background.png);
}
.nav{
    list-style-type: none;
}
.lista{
    display: inline-block;
    float: left;
}